*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Kanit', sans-serif;
}

img{
    width: 100%;
    height: auto;
}

.site-head-area{
    width: 100%;
}

.site-head-area-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.site-image-box{
    width: 10%;
    margin: 10px 0px;
}

.name{
    font: normal 1.2rem'Kanit', sans-serif;

}

.miner-name-text-area
{
    width: 100%;
    background-color: #293133;
}

.miner-name-container{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-bottom: 30px;
}

.miner-location-name{
    width: 100%;
    padding-left: 10px;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
}

.miner-location-name::before{
    content: '';
    height: 3px;
    width: 30.7%;
    bottom: 0;
    left: 15px;
    position: absolute;
    background-color: #fff;
}

.miner-location-name h4{
    padding: 10px 5px;
    font-size: 2rem;
}

.miner-name-area{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.miner-name-box{
    border-radius: 4px;
    background-color: #fff;
    color: #293133;
    text-transform: capitalize;
    width: max-content;
    margin: 5px 10px;
}

.miner-name-box span {
    display: inline-block;
    padding: 5px;
}

.site-head-content-text {
    margin-bottom: 20px;
}
